.jumbotron {
	padding-top: 6rem;
	background-color: #e2edff;
}

#projects {
	background-color: #e2edff;
}

#about {
	padding-top: 5rem;
}

/*----------------SOCIAL MEDIA------------------*/
.wrapper-social a {
	text-decoration: none;
}
/*untuk dasar background social*/
.wrapper-social {
	margin-top: -18px;
	display: flex;
	justify-content: center;
}

.wrapper-social .button {
	height: 60px;
	width: 60px;
	margin: 10px 5px;
	border-radius: 50px;
	display: flex;
	overflow: hidden;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	background: #fff;
	transition: all 0.3s ease-out;
	cursor: pointer;
}

/*style untuk  mengatur posisi tulisan social*/
.wrapper-social .button span {
	font-family: Fredoka One;
	font-size: 18px;
	font-weight: bold;
	line-height: 60px;
	margin-left: 10px;
	letter-spacing: 2px;
	transition: all 0.3s ease-out;
}

/*animasi button*/
.wrapper-social .button:hover {
	width: 200px;
}

/*style dasar untuk icon*/
.wrapper-social .button .icon {
	width: 60px;
	border-radius: 50px;
	line-height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: all 0.3s ease-out;
}

/*untuk ukuran awal img*/
.wrapper-social .button .icon img {
	width: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}

/*animasi warna untuk icon*/
.wrapper-social .button:nth-child(1):hover .icon {
	background: #e1306c;
}
.wrapper-social .button:nth-child(2):hover .icon {
	background: #333;
}
.wrapper-social .button:nth-child(3):hover .icon {
	background: #0072b1;
}

/*warna logo saat di hover*/
.wrapper-social .button:nth-child(1):hover .icon img,
.wrapper-social .button:nth-child(2):hover .icon img,
.wrapper-social .button:nth-child(3):hover .icon img {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(358deg)
		brightness(103%) contrast(103%);
}

/*untuk warna tulisan*/
.wrapper-social .button:nth-child(1) span {
	color: #e1306c;
}
.wrapper-social .button:nth-child(2) span {
	color: #333;
}
.wrapper-social .button:nth-child(3) span {
	color: #0072b1;
}
